.container{
    border: 20px solid lightgoldenrodyellow;
}
.one{
    border: 20px solid purple;
    position: relative;
}
.two{
    border: 20px solid orchid;
    position: relative;
}
.three{
    border: 20px solid violet;
    position: relative;
}
.four{
    border: 20px solid plum;
    position: relative;
}
